#playingfield {
    left: 0px;
    right: 0px;
    width: 1000px;
    height: 500px;
    background-color: #DDD;
    position: relative;
    overflow:  hidden;
}

.tank, .ghosttank {
    width: 60px;
    height: 30px;
    margin-top: -15px;
    margin-left: -30px;
    background-image: none;
    
    position: absolute;
}

.production {
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    background-image: none;
    
    position: absolute;
}

.tower {
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    background-image: none;
    
    position: absolute;
}

#button_indicator {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 320px;
}

.indicator {
    border: solid 4px white;
    position: relative;
    display: inline-block;
    margin: 6px;
    background-repeat: none;
}

#message_queue {
    position: absolute;
    top: 10px;
    right: 320px;
    height: 60px;
    width: 500px;
}

#mouse_selector {
    position: absolute;
    width:    16px;
    height:  16px;
    background-image: url('/static/icon-tank.png');
    z-index: 5000;
}

#buildtimer {
    background-color: #FF0000;
}

#buildtimer_bar {
    text-align: left;
    background-color: #00FF00;
    padding: 0px;
    margin: 0px;
    width: 0%;
    height: 10px;
}